@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-color: #191919;
    --white-color: #FFFFFF;
    --purple-color: rgb(117,41,149);
    --purplelight-color: rgb(169, 83, 206);
    --blue-color: #00B2B1;
    --gray-color: #828282;
    --ligh-color: #F3F3F3;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
}

a{
    text-decoration: none;
}
header .row{
    padding: 1rem 1.5rem;
    margin: 0;
}

.tit-seccion{
    margin-top: 2rem;
}

.cont-fluid{
    padding-left: 0;
    padding-right: 0;
}

.agenda-cita i{
    margin-right: 5px;
}

.button-head{
    justify-content: flex-end;
}

.btn-blue{
    color: var(--dark-color);
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}

.btn-blue:hover{
    color: white;
    background-color: #91fafa;
    border-color: blue;
}

.btn-outline-blue{
    color: var(--purple-color);
    border-color: var(--purple-color);
}

.btn-outline-blue:hover{
    color:white;
    background-color: var(--purple-color);
    border-color: var(--purple-color);
}

.header-logo img{
    max-width: 320px;
}


.agenda-cita{
    background-image: url(../img/fondo.jpg);
    padding: 3rem;
}

.agenda-cita h1{
    font-size: 1.5rem;
    padding-bottom: 3rem;
    font-weight: 600;
}

.agenda-cita h3{
    font-size: 1.2rem;
}

.agenda-promo{
    background-color: var(--purple-color);
    padding: 3rem;
}


.agenda-promo h1{
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
}

.tit-seccion{
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
    color: var(--purple-color);
}

.card{
    text-align: center;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.card img{
    max-width: 200px;
    align-items: center;
}

.card-body h2{
    font-weight: bolder;
    font-size: 24px;
}

.card-body h3{
    font-weight: bolder;
    font-size: 20px;
}
.card-body h4{
    font-weight: bolder;
}

.card-body p{
    font-size: 16px;
}

/* ESTILOS FOOTER */
footer{
    background-image: url(../img/fondo.jpg);
}

.capa{
    background-color: rgba(117, 41, 149, 0.561);
    color: white;
    padding: 1rem 0;
}

.capa p{
    line-height: 1.2rem;
}

.capa i{
    font-size: 50px;
    color: white;
}

.text{
    color: white;
}

.col h3{
    text-align: center;
}

/* ::::::::::::::::ESTILOS SERVICIOS :::::::::::::::*/


h1{
    color: rgb(139, 0, 139);
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
}


.lin-linea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
}

.Card{
    margin-bottom: -100px;
}

.Card-texto{
    text-align: justify;
    line-height: 20px;
}

/* .Card-title{
    font-size: 22px;
} */

.imgLog{
    font-size: 120px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
    color: var(--blue-color);
}

.Card-titles{
    color: var(--blue-color);
    font-weight: bold;
}

/* ::::::::::::::::ESTILOS LOGIN :::::::::::::::*/


button a:hover{
    color: black;
}

.container form svg{
    color: purple;
    background-color: white;
    border-radius: 50px;
    padding: 8px;
    border: 3px solid gray;
}

.container img{
    align-items: flex-end;
}

.container form{
    padding: 2.5rem;
    width: 350px;
    margin: 10px;;
}

.container img{
    width: 500px;
    height: 150px;
}

.botones{
    display: flex;
    justify-content: center;
}

.bton{
    color: #000;
    width: 450px;
}

/* .btn-primary{
    background-color: aquamarine;
    font-weight: bold;
} */

/* .btn-primary:hover{
    background-color: var(--purple-color);
    border-color:white;
    font-weight: bold;
    color: white;
} */

.btn-info{
    background-color: purple;
    border: none;
    font-weight: bold;
}

.btn-info:hover{
    box-shadow: 0px 5px 2px rgb(177, 129, 221);
    background-color: purple;
    border: none;
    font-weight: bold;
    color: white;
}

.form-label{
    font-weight: bold;
}

.form-control{
    min-width: 250px;
    border: 2px solid rgb(143, 142, 142);
}

.form-olvido{
    color: var(--blue-color);
}

.btn-primary1{
    background-color: var(--blue-color);
    border-color: var(--blue-color);
    align-items: center;
    font-weight: bold;
}

.bi{
    align-items: center;
}